h2 {
    color: rgba(34, 0, 255, 0.622)
}

#names --col{
    color: #ee82ee
    /* --col: orange */
}

#redcabbage {
    color: orange
}

/*
#is mt template custom ok
#do i have to do every bullet 
#diff of 
*/